In [65]:
product_name = "Laptop"
price = 1200
quantity = 10

# Strings
customer_name = "John Doe"
city = "New York"
email = "john.doe@example.com"

# Tuples (immutable sequences)
product_details = ("Tablet", 300, 5) # (name, price, quantity)
coordinates = (10.5, 20.2) # (latitude, longitude)

# Lists (mutable sequences)
sales_data = [1500, 1200, 1800, 2000, 1600] # Weekly Sales
customer_orders = ["Laptop", "Mouse", "Keyboard", "Laptop"]

# Dictionaries (key-value pairs)
product_catalog = {
"Laptop": {"price": 1200, "quantity": 10},
"Mouse": {"price": 25, "quantity": 50},
"Keyboard": {"price": 75, "quantity": 30},
}

customer_info = {
"name": "Jane Smith",
"city": "London",
"orders": ["Phone", "Case"]
}

Task 1: Product Analysis
* Scenario: You have information about products stored in variables, tuples, lists, and
dictionaries.
* Tasks:
* Calculate the total revenue for the Laptop by multiplying its price and quantity.
* Extract the price and quantity of the "Mouse" from the product_catalog dictionary.
* Calculate the total number of items in the sales_data list.
* Find the average sale amount from the sales_data list.
* Determine if "Keyboard" exists as a key in the product_catalog.

In [4]:
total_revenue = price * quantity
print("The total revenue is", total_revenue)

The total revenue is 12000

In [5]:
product_catalog["Mouse"]

{'price': 25, 'quantity': 50}

In [16]:
len(sales_data)

5

In [22]:
sum(sales_data)/len(sales_data)

1620.0

In [23]:
'Keyboard' in product_catalog

True

Task 2: Customer Analysis
* Scenario: Customer information is stored in strings and dictionaries.
* Tasks:
* Extract the customer's last name from the customer_name string.
* Create a new string that combines the customer's name and city (e.g., "John Doe, New
York").
* Access the customer's orders from the customer_info dictionary.
* Count the number of items in the customer's order list.
* Add a new key-value pair to the customer_info dictionary for the customer's email address

In [30]:
customer_name.split(' ')[1]

'Doe'

In [37]:
CC=customer_name + ',' +city
print(CC)

John Doe,New York

In [43]:
customer_info['orders']

['Phone', 'Case']

In [45]:
len(customer_orders)

4

In [51]:
customer_info['email'] = 'isreal@nupat.com'
print(customer_info)

{'name': 'Jane Smith', 'city': 'London', 'orders': ['Phone', 'Case'], 'email': 'isreal@nupat.com'}

Task 3: Inventory Management
* Scenario: Product details are stored in tuples and dictionaries.
* Tasks:
* Access the quantity of "Tablet" from the product_details tuple.
* Update the quantity of "Laptop" in the product_catalog by adding 5 more units.
* Create a list of all product names from the product_catalog.
* Calculate the total value of all "Mouse" products in inventory (price * quantity) using the
product_catalog.

In [61]:
Tablet_qty=product_details[2]
print('the quantity of Tablet is',Tablet_qty)

the quantity of Tablet is 5

In [71]:
product_catalog["Laptop"]['quantity'] = 15
product_catalog

{'Laptop': {'price': 1200, 'quantity': 15},
 'Mouse': {'price': 25, 'quantity': 50},
 'Keyboard': {'price': 75, 'quantity': 30}}

In [85]:
product_catalog.keys()

dict_keys(['Laptop', 'Mouse', 'Keyboard'])

In [92]:
Total_Value=product_catalog['Mouse']['price'] * product_catalog['Mouse']['quantity']
Total_Value

1250

Task 4: Sales Trend Analysis
* Scenario: Weekly sales data is available in a list.
* Tasks:
* Find the highest and lowest sales amounts from the sales_data list.
* Calculate the difference between the highest and lowest sales.
* Calculate the percentage change in sales from the first week to the last week.
These tasks focus on manipulating and analyzing data within the given Python data structures.
They mirror the kind of operations a data analyst might perform, but on a smaller, more
illustrative scale. They avoid the complexity of file I/O or external libraries, focusing on the core
Python syntax.

|

In [96]:
lowest_sales=min(sales_data)

In [97]:
highest_sales=max(sales_data)

In [99]:
max(sales_data)-min(sales_data)

800

In [100]:
highest_sales-lowest_sales

800

In [106]:
sales_data

[1500, 1200, 1800, 2000, 1600]

In [105]:
round((sales_data[-1] - sales_data[0]) / sum(sales_data) * 100, 2)

1.23